.TopFood h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}
.siparis ul li{
  
 display: inline-block;
flex-wrap: wrap;
font-size: larger;
   color: white;
   justify-content: center;
    
}


.siparis{
    text-align: center;
}

.allfive{
    display: flex;
    justify-content: center;
    gap: 60px;
   
}
.firstfive label{
   display: inline-block;
   
}
.final{
    display: flex;
    justify-content: center;
}
.EndTop h1{
    color:white;
    text-align: center;
}

.end h1{


  margin: 250px;
 
 
}
.disbut button{

    
}
.disbut p{
    color:white;
    
}
.disbut a{
    text-decoration:none
}
.EndTop{
   
}
.enduse a{
    text-decoration: none;
}